body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    Additional mixins by Kevin Jantzer

    More info at: http://lesselements.com
-----------------------------------------------------*/
.clear {
  border: none;
  float: none;
  clear: both;
  background: no-repeat;
  margin: 0;
  padding: 0;
}
.clearfix:before,
.container:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
	Arrows 
*/
/* @end Arrows */
/* Center text */
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}
.cursive {
  color: #999;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: .85em;
  text-transform: none;
}
.ucase,
.caps {
  text-transform: uppercase;
}
.lcase {
  text-transform: lowercase;
}
ins {
  color: green;
  background: #DFD;
  text-decoration: none;
}
del {
  color: red;
  background: #FDD;
  text-decoration: none;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* make any element look like a link */
.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
/* hide elements based on whether they have content */
.hide-on-empty[data-content=""],
.hide-on-zero[data-content=""],
.hide-on-zero[data-content="0"] {
  display: none !important;
}
/* github style code element */
code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
/* creates a divider line with text
    expects <el><span>Title Here</span></el> (where el = h1, h2, etc)
*/
h1.divider,
h2.divider,
h3.divider,
h4.divider,
h5.divider,
h6.divider,
p.divider {
  position: relative;
  color: #999;
  /* create the dashed line */
}
h1.divider > span,
h2.divider > span,
h3.divider > span,
h4.divider > span,
h5.divider > span,
h6.divider > span,
p.divider > span {
  background: #fff;
  position: relative;
  padding-right: 10px;
}
h1.divider > span + span,
h2.divider > span + span,
h3.divider > span + span,
h4.divider > span + span,
h5.divider > span + span,
h6.divider > span + span,
p.divider > span + span {
  padding-right: 0;
  padding-left: 10px;
}
h1.divider.align-right,
h2.divider.align-right,
h3.divider.align-right,
h4.divider.align-right,
h5.divider.align-right,
h6.divider.align-right,
p.divider.align-right {
  text-align: right;
}
h1.divider.align-right > span,
h2.divider.align-right > span,
h3.divider.align-right > span,
h4.divider.align-right > span,
h5.divider.align-right > span,
h6.divider.align-right > span,
p.divider.align-right > span {
  padding-left: 10px;
  padding-right: 0;
}
h1.divider.align-center,
h2.divider.align-center,
h3.divider.align-center,
h4.divider.align-center,
h5.divider.align-center,
h6.divider.align-center,
p.divider.align-center {
  text-align: center;
}
h1.divider.align-center > span,
h2.divider.align-center > span,
h3.divider.align-center > span,
h4.divider.align-center > span,
h5.divider.align-center > span,
h6.divider.align-center > span,
p.divider.align-center > span {
  padding-left: 10px;
  padding-right: 10px;
}
h1.divider:before,
h2.divider:before,
h3.divider:before,
h4.divider:before,
h5.divider:before,
h6.divider:before,
p.divider:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  border-top: solid 1px #ccc;
}
h1.divider.dashed:before,
h2.divider.dashed:before,
h3.divider.dashed:before,
h4.divider.dashed:before,
h5.divider.dashed:before,
h6.divider.dashed:before,
p.divider.dashed:before {
  border-top-style: dashed;
}
/* creates iOS itunes style label divider
    great for seperating items in lists
*/
.label-divider {
  background: #f1f1f1;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  -webkit-box-shadow: #cccccc 0 1px 3px;
  -moz-box-shadow: #cccccc 0 1px 3px;
  box-shadow: #cccccc 0 1px 3px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #fff;
}
.label-divider:first-child,
.label-divider.first {
  border-top: none;
}
.label-divider.spacer {
  margin: 30px 0 20px;
}
.label-divider.spacer-top {
  margin-top: 30px;
}
.label-divider.spacer-bottom {
  margin-bottom: 20px;
}
.label-divider.pull-out {
  margin-left: -15px;
  margin-right: -15px;
}
.label-divider.pull-out-out {
  margin-left: -30px;
  margin-right: -30px;
}
.label-divider:before {
  margin-right: 7px;
}
.label-divider a {
  color: #aaa;
}
/* make things look like a stamp */
.stamp {
  text-transform: uppercase;
  border: solid 3px #222;
  display: inline-block;
  padding: .5em;
  color: #222;
  font-family: Impact;
  font-size: 1em;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: none;
}
/* simple and subtle tabs */
.tabs {
  border-bottom: solid 1px #ccc;
  padding: 0 5px;
  margin-bottom: 10px;
}
.tabs.pull-out {
  padding: 0 15px;
}
.tabs > a {
  cursor: default;
  text-decoration: none !important;
  display: inline-block;
  padding: 7px 10px;
  color: #aaa;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -1px;
  float: left;
  border: solid 1px transparent;
}
.tabs > a:not(.active):hover {
  cursor: pointer;
  color: #333;
}
.tabs > a + a {
  margin-left: -1px;
}
.tabs > a.active {
  border-color: #ccc;
  border-bottom-color: #fff;
}
/*
	Flexbox Mixins
	https://gist.github.com/kjantzer/7948269
*/
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
/*
	Modal Backbone.js View
	
	modal-1 => Fade in & Scale
	modal-2 => Slide in (right)
	modal-3 => Slide in (bottom)
	modal-4 => Newspaper
	modal-5 => Fall
	modal-6 => Side Fall
	modal-7 => Sticky Up
	modal-8 => 3D Flip (horizontal)
	modal-9 => 3D Flip (vertical)
	modal-10 => 3D Sign
	modal-11 => Super Scaled
	modal-12 => Just Me
	modal-13 => 3D Slit
	modal-14 => 3D Rotate Bottom
	modal-15 => 3D Rotate In Left
	modal-16 => Blur
	modal-17 => Let me in
	modal-18 => Make way!
	modal-19 => Slip from top
*/
/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a modal-container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}
.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}
.md-modal.flex {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.md-modal.flex > div {
  position: static;
  top: auto;
  left: auto;
  -webkit-transform: inherit;
  -moz-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
}
/*.modal.flex .md-modal:nth-child(1) { margin: 0.5em 0 0 0.5em; }
.modal.flex .md-modal:nth-child(2) { margin: 1.0em 0 0 1.0em; }
.modal.flex .md-modal:nth-child(3) { margin: 1.5em 0 0 1.5em; }
.modal.flex .md-modal:nth-child(4) { margin: 2.0em 0 0 2.0em; }
.modal.flex .md-modal:nth-child(5) { margin: 2.5em 0 0 2.5em; }*/
.md-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 630px;
  min-width: 70px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-modal > div.thin {
  max-width: 250px;
}
.md-modal > div.centered,
.md-modal > div.centered .buttons {
  text-align: center;
}
.md-show > div {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1002;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
/* Content styles */
.md-content {
  /*
color: #fff;
	background: #e74c3c;
	background: #333;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
*/
  background: #f5f5f5;
  -webkit-box-shadow: #dddddd 0 1px 0px 1px;
  -moz-box-shadow: #dddddd 0 1px 0px 1px;
  box-shadow: #dddddd 0 1px 0px 1px;
  border-radius: 3px;
}
.md-content h3 {
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px 3px 0 0;
  font-weight: normal;
  min-height: 1em;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.md-content .progress {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 54px;
  /* height of h3 */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
.md-content .progress .progress-bar {
  height: 100%;
  background: #fff;
  width: 0;
}
.md-content > div {
  /*padding: 0 0 1.5em;
		margin: 0;
		font-weight: 300;
		*/
}
.md-content > div .content {
  margin: 0 0 15px 0;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: visible;
  padding: 30px 30px 15px;
  line-height: 1.2em;
}
.md-content > div .content .button.icon-only {
  display: none;
}
.md-content > div .content * a {
  pointer-events: none;
  cursor: text;
}
.md-content > div .content hr {
  background: #ddd;
  height: 1px;
  border: none;
  margin: 15px 0;
}
.md-content > div .content p {
  margin: 0;
  padding: 10px 0;
}
.md-content > div .content ul {
  margin: 0;
  padding: 0 0 30px 20px;
}
.md-content > div .content ul li {
  padding: 5px 0;
}
.md-content > div > .buttons {
  position: relative;
  text-align: right;
  padding: 0px 30px 15px;
  margin-top: 15px;
  /*&:after {
				content: '';
				width: 100%;
				height: 15px;
				position: absolute;
				top: -15px;
				left: 0;
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(245,245,245,1)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
			}*/
}
.md-content > div > .buttons > .button {
  margin-left: 5px;
}
.md-content u {
  text-decoration: none;
  border-bottom: dashed 1px #333;
  font-weight: bold;
}
.md-content b.highlight,
.md-content u.highlight {
  padding: 0 3px;
  margin-left: -2px;
  margin-right: -2px;
  background: #ffffaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
/* .md-effect-1 { min-width: 320px; } */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.md-show.md-effect-2 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* Effect 4: Newspaper */
.md-effect-4 .md-content {
  -webkit-transform: scale(0) rotate(720deg);
  -moz-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
  opacity: 0;
}
.md-show.md-effect-4 ~ .md-overlay,
.md-effect-4 .md-content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-4 .md-content {
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
/* Effect 5: fall */
.md-effect-5.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-5 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -moz-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
}
.md-show.md-effect-5 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateZ(0px) rotateX(0deg);
  -moz-transform: translateZ(0px) rotateX(0deg);
  -ms-transform: translateZ(0px) rotateX(0deg);
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1;
}
/* Effect 6: side fall */
.md-effect-6.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-6 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
}
.md-show.md-effect-6 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -moz-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}
/* Effect 7:  slide and stick to top */
.modal.flex .md-effect-7.md-modal {
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end;
}
.md-effect-7.md-modal > div {
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.md-effect-7 .md-content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.md-show.md-effect-7 .md-content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}
/* Effect 8: 3D flip horizontal */
.md-effect-8.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-8 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -moz-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-show.md-effect-8 .md-content {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
/* Effect 9: 3D flip vertical */
.md-effect-9.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-9 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-show.md-effect-9 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
/* Effect 10: 3D sign */
.md-effect-10.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-10 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-10 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
/* Effect 11: Super scaled */
.md-effect-11 .md-content {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-11 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* Effect 12:  Just me */
.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-12 ~ .md-overlay {
  background: #f5f5f5;
}
.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* Effect 13: 3D slit */
.md-effect-13.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-13 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
  -moz-transform: translateZ(-3000px) rotateY(90deg);
  -ms-transform: translateZ(-3000px) rotateY(90deg);
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}
.md-show.md-effect-13 .md-content {
  -webkit-animation: slit 0.7s forwards ease-out;
  -moz-animation: slit 0.7s forwards ease-out;
  animation: slit 0.7s forwards ease-out;
}
@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@-moz-keyframes slit {
  50% {
    -moz-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
/* Effect 14:  3D Rotate from bottom */
.md-effect-14.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-14 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.md-show.md-effect-14 .md-content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}
/* Effect 15:  3D Rotate in from left */
.md-effect-15.md-modal > div {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-15 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-15 .md-content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}
/* Effect 16:  Blur */
.md-show.md-effect-16 ~ .md-overlay {
  background: rgba(255, 255, 255, 0.8);
}
.md-show.md-effect-16 ~ .modal-container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}
.md-effect-16 .md-content {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  opacity: 0;
}
.md-show.md-effect-16 ~ .modal-container,
.md-effect-16 .md-content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-16 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* Effect 17:  Slide in from bottom with perspective on modal-container */
.md-show.md-effect-17 ~ .modal-container {
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.md-show.md-effect-17 ~ .modal-container,
.md-show.md-effect-17 ~ .md-overlay {
  -webkit-transform: rotateX(-2deg);
  -moz-transform: rotateX(-2deg);
  -ms-transform: rotateX(-2deg);
  transform: rotateX(-2deg);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.md-effect-17 .md-content {
  opacity: 0;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
}
.md-show.md-effect-17 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}
/* Effect 18:  Slide from right with perspective on modal-container */
.md-show.md-effect-18 ~ .modal-container {
  height: 100%;
  overflow: hidden;
}
.md-show.md-effect-18 ~ .md-overlay {
  background: rgba(143, 27, 15, 0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-18 ~ .modal-container,
.md-show.md-effect-18 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 0% 50%;
  -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.5s forwards ease-in;
}
@-webkit-keyframes rotateRightSideFirst {
  50% {
    -webkit-transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(-200px);
  }
}
@-moz-keyframes rotateRightSideFirst {
  50% {
    -moz-transform: translateZ(-50px) rotateY(5deg);
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(-200px);
  }
}
@keyframes rotateRightSideFirst {
  50% {
    transform: translateZ(-50px) rotateY(5deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateZ(-200px);
  }
}
.md-effect-18 .md-content {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  opacity: 0;
}
.md-show.md-effect-18 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}
/* Effect 19:  Slip in from the top with perspective on modal-container */
.md-show.md-effect-19 ~ .modal-container {
  height: 100%;
  overflow: hidden;
}
.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-19 ~ .modal-container,
.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: OpenTop 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 50% 100%;
  -moz-animation: OpenTop 0.5s forwards ease-in;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  animation: OpenTop 0.5s forwards ease-in;
}
@-webkit-keyframes OpenTop {
  50% {
    -webkit-transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-moz-keyframes OpenTop {
  50% {
    -moz-transform: rotateX(10deg);
    -moz-animation-timing-function: ease-out;
  }
}
@keyframes OpenTop {
  50% {
    transform: rotateX(10deg);
    animation-timing-function: ease-out;
  }
}
.md-effect-19 .md-content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  opacity: 0;
}
.md-show.md-effect-19 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}
@media screen and (max-width: 32em) {
  body {
    font-size: 75%;
  }
}
